# : Data Science Tools and Ecosystem

## AUTHOR:WENTING LIN

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
<ul>
    <li>R</li>
    <li>SQL</li>
    <li>JAVA</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.

|Data Science Tools|
|------------------|
|SAS|
|Tableau|
|Apache Spark|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
a= (3*4)+5
print(a)

17

This will convert 200 minutes to hours by diving by 60

In [4]:
b = 200/60
print(b, "hours")

3.3333333333333335 hours